---
layout: base
---
<div class="wrapper">
    <header>
        {% if site.compass.logo %}
        <div class="logo-container">
          <a class="logo" href="{{ page.baseurl }}" style="background-image: url('{{ site.baseurl }}{{ site.compass.logo }}')"></a>
        </div>
        {% endif %}

        {% if site.compass.author %}
        <div class="author-container"><h1>{{ site.compass.author }}</h1></div>
        {% endif %}

        {% if site.compass.tagline %}
        <div class="tagline-container"><p>{{ site.compass.tagline }}</p></div>
        {% endif %}

        <hr>
        <ul class="fa-ul main-list">
          <li class="main-list-item">
            <a href="{{ site.compass.twitter }}">Twitter <span class="fab fa-twitter fa-lg main-list-item-icon"></span></a>
          </li>
          <li class="main-list-item">
            <a href="{{ site.compass.linkedin }}">LinkedIn <span class="fab fa-linkedin fa-lg main-list-item-icon"></span></a>
          </li>
          <li class="main-list-item">
            <a href="{{ site.compass.facebook }}">Facebook <span class="fab fa-facebook fa-lg main-list-item-icon"></span></a>
          </li>
          <li class="main-list-item">
            <a href="{{ site.compass.stackoverflow }}">Stack Overflow <span class="fab fa-stack-overflow fa-lg main-list-item-icon"></span></a>
          </li>
          <li class="main-list-item">
            <a href="{{ site.compass.github }}">GitHub <span class="fab fa-github fa-lg main-list-item-icon"></span></a>
          </li>
        </ul>
        <hr class="header-bottom">
    </header>
    <main>
      {% if site.compass.include_content %}
      <div class="content">
        {% include content.html %}
      </div>
      {% endif %}
    </main>
</div>
