<h2 id="who-am-i">Who am I?</h2>

<p>I am driven to create software that makes an emotional connection.</p>

<p>At different times in my life I have been obsessed with…</p>

<ul>
  <li>learning to program</li>
  <li>UNIX</li>
  <li>the world wide web</li>
  <li>macOS software development</li>
  <li>distributed computing</li>
  <li>authentication and privacy</li>
  <li>track cars</li>
  <li>programmable microcontrollers</li>
  <li>virtualization</li>
  <li>my daughter</li>
  <li>smoking meat</li>
  <li>ukulele</li>
</ul>
